    nav {
        background-color: #444;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header, footer {
        text-align: center;
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    main{
        background-color: #d6d6d6;
        text-align: center;
        padding: 20px;
        width: 83.5%;
    }
    aside{
        background-color: rgb(186, 186, 186);
        text-align: center;
        padding: 20px;
        width: 10%;
    }
    main, aside {
        display: inline-block;
        vertical-align: top;
        height: 60%;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
      border: 1px solid #645555;
      color: #464545f6;
      text-align: center;
      padding: 8px;
    }
    th {
        background-color: #5c8ba0;
    }
    tr:nth-child(even) {
      background-color: #79b9d3;
      color: #6b6b6bf6;
    }
    #s1{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 95%;
        padding: 20px;
        background-color: skyblue;
        color: #6b6b6bf6;
    }
    @media only screen and (max-width: 600px) {
        main, aside {
            display: block;
            width: 100%;
        }
    }